<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.mapper.BoardMapper">
	<sql id="boardColumns">
		idx
		,title
		,content
		,writer
		,view_cnt
		,notice_yn
		,secret_yn
		,delete_yn
		,insert_time
		,update_time
		,delete_time
	</sql>
	
	<insert id="insertBoard" parameterType="com.board.domain.BoardDTO">
		/* com.board.mapper.BoardMapper.insertBoard 글쓰기 */
		INSERT INTO tb_board(<include refid="boardColumns"/>)
		VALUES (
				  #{idx}
				, #{title}
				, #{content}
				, #{writer}
				, 0
				, IFNULL(#{noticeYn}, 'N')
				, IFNULL(#{secretYn}, 'N')
				, 'N'
				, NOW()
				, NULL
				, NULL)
	</insert>
	
	<select id="selectBoardDetail" parameterType="long" resultType="BoardDTO">
		/* com.board.mapper.BoardMapper.selectBoardDetail 상세보기 */
		SELECT <include refid="boardColumns"/>
		FROM   tb_board
		WHERE  delete_yn = 'N'
		AND    idx       = #{idx}
	</select>
	
	<update id="updateBoard" parameterType="BoardDTO">
		/* com.board.mapper.BoardMapper.updateBoard 글수정 */
		UPDATE tb_board
		SET    update_time = NOW()
			   ,title      = #{title}
			   ,content    = #{content}
			   ,writer     = #{writer}
			   ,notice_yn  = IFNULL(#{noticeYn}, 'N')
			   ,secret_yn  = IFNULL(#{secretYn}, 'N')
		WHERE  idx = #{idx}
	</update>
	
	<update id="deleteBoard" parameterType="long">
		/* com.board.mapper.BoardMapper.deleteBoard 글삭제 */
		UPDATE tb_board
		SET    delete_yn   = 'Y'
	           ,delete_time = NOW()
		WHERE  idx = #{idx}
	</update>
	
	<select id="selectBoardList" parameterType="BoardDTO" resultType="BoardDTO">
		/* com.board.mapper.BoardMapper.selectBoardList 전체글 */
		SELECT   <include refid="boardColumns"/>
		FROM     tb_board
		WHERE    delete_yn = 'N'
		<include refid="CommonMapper.search"/>
		ORDER BY notice_yn    ASC
		         ,idx         DESC
		         ,insert_time DESC
		<include refid="CommonMapper.paging"/>
	</select>
	
	<select id="selectBoardTotalCount" parameterType="BoardDTO" resultType="int">
		/* com.board.mapper.BoardMapper.selectBoardTotalCount 전체글수 */
		SELECT count(*)
		FROM   tb_board
		WHERE  delete_yn = 'N'
		<include refid="CommonMapper.search"/>
	</select>
	
</mapper>